.section-icon-column {
    width: auto;
    height: 510px;
    max-height: 510px;
    border-radius: 12px;
    overflow: hidden;
}

.section-intro-column {
    width: 60%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-section {
    flex: 1;
}

.navigation-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
