#siteImageCarousel{
    max-height: 317px;
    border-radius: 12px 0px 0px 12px;
    overflow: hidden;
    margin: 0;
    max-width: 800px;
}

#siteImageCarousel .carousel-item img {
    width: auto;
    height: 317px;
    max-height: 317px;
    margin: auto;
    display: block;
}

.carousel-control-prev, .carousel-control-next {
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
}

#bio-box {
    display: flex;
    border-radius: 0px 12px 12px 0px;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    padding-left: 5px;
}

@media (max-width: 768px) {
    .centered-container .col-md-8, 
    .centered-container .col-md-4 {
        width: 100%; /* Full width on smaller screens */
        max-width: none; /* Override max-width if set earlier */
    }
    #siteImageCarousel{
        border-radius: 12px 12px 12px 12px;
    }
    #bio-box{
        border-radius: 12px 12px 12px 12px;
    }
}
